html,
body{
    height: 200%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-division{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box{
    display: flex;
    width: 60%;
}

.info-placeholder{
    width: 150px;
    height: 150px;
    background-color: black;
    flex-shrink: 0;
}

.title{
    font-weight: 900;
}

.header{
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

.header .content-box{
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
}

.info{
    background-color: white;
    color: #1f2937;
    flex: 1;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
}

.base{
    background-color: white;
    color: #1F2937;
    flex: 1;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 24px;
}